.cabecera{
    background-color: blue;
    color: white;
}

.titulo {
    text-align: center;
    font-size: 1em;
    background: #000054;
    color: #fff;
    border: 1px solid #000;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
}

.par {
    background-color: white;
    color: black;
}

.impar {
    background-color: gray;
    color: black;
}

.fpar{
    background-color: #60B626;
}

.fimpar {
    background-color: #7AF329;
}

.tablas {
    position: relative;
    left: 20px;
}

.fixture {
    position: absolute;
    left: 1000px;
    top: 200px;
    border: 2px solid #000;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

#posiciones {
    font-size: .9em;
    width: 380px;
    text-align: center;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.rect-campeonato {
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888888;
    border: #000 solid 1px
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.botonVolver {
    border: #000 solid 1.5px;
    background-color: #7AF329;
    position: absolute;
    left: 640px;
    top: 950px;
    width: 200px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}


#vs {
    position: absolute;
    left: 720px;
    top: 150px;
    margin-bottom: 50px;
}

#clocal {
    position: absolute;
    left: 250px;
    top: 150px;
    margin-bottom: 50px;
}

#cvisitante {
    position: absolute;
    left: 1150px;
    top: 150px;
    margin-bottom: 50px;
}

#glocal {
    position: absolute;
    left: 690px;
    top: 150px;
    margin-bottom: 50px;
}

#gvisitante {
    position: absolute;
    left: 760px;
    top: 150px;
    margin-bottom: 50px;
}

.descripcionLocal {
    position: absolute;
    left: 250px;
    top: 250px;
}

.descripcionVisitante {
    position: absolute;
    left: 1150px;
    top: 250px;
}

.datoPartido {
    position: sticky;
    margin-left: 25px;
    margin-bottom: 10px;
}

#espacio {
    color: #fff;
    position: absolute;
    top: 950px;
}

#campDatos {
    text-align: center;
}

#cantZonas {
    text-align: center;
}

#btnConf {
    text-align: center;
    margin-top: 10px;
}

#muestroConf {
    display: none;
    border: #000 solid 1.5px;
    background-color: #7AF329;
    position: absolute;
    left: 670px;
    top: 600px;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 1em;
}

#btnVolver {
    display: none;
    border: #000 solid 1.5px;
    background-color: #7AF329;
    position: sticky;
    left: 670px;
    top: 1500px;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 1em;
}

#btnConfirmar {
    position: sticky;
    left: 650px;
}

#botonConvalidar {
    cursor: pointer;
    border: #000 solid 1.5px;
    background-color: #7AF329;
    position: absolute;
    left: 640px;
    top: 850px;
    width: 200px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

#terminarPartido {
    cursor: pointer;
    border: #000 solid 1.5px;
    background-color: #f51717;
    position: absolute;
    left: 640px;
    top: 850px;
    width: 200px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}


